<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

      <main>

        <%- include('./partials/carrousel') %>


          <%- include('./partials/menuVentas') %>

            <div class="titulogeneral tituloproductos">
              <h2 class="TIENDA23"> <a href="#FIGURAS"> FIGURAS</a></h2>
              <h2 class="TIENDA23"><a href="#ROPA"> ROPA</a></h2>
              <h2 class="TIENDA23"><a href="#COMICS"> COMICS</a></h2>
              <h2 class="TIENDA23"><a href="#MERCHANDISING"> MERCHANDISING</a></h2>
            </div>

  
            <section class="categorias">
              <article class="cadacategoria zoom">
                <img src="../images/merchandising/comic2.png" alt="">
                <div class="titulocategoria">
                  <h3>COMICS</h3>
                  <P>Encontra todo lo que buscas</P>
                  <div class="vermas">
                    <a href="/productos/comics">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>
              <article class="cadacategoria zoom">
                <img src="../images/merchandising/figura7.jpg" alt="">
                <div class="titulocategoria">
                  <h3>FIGURAS</h3>
                  <P>Encontra todo lo que buscas</P>
                  <div class="vermas">
                    <a href="/productos/figuras">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>
              <article class="cadacategoria zoom">
                <img src="../images/merchandising/Mochila.jpeg" alt="">
                <div class="titulocategoria">
                  <h3>MERCHANDISING</h3>
                  <P>Encontra todo lo que buscas</P>
                  <div class="vermas">
                    <a href="/productos/merchandising">
                      <h4>ver mas</h4>
                    </a>
                  </div>
                </div>

              </article>



            </section>

            <div class="titulogeneral">
              <h2 class="TIENDA " id="FIGURAS"> <%=categorias[3].name%></h2>
            </div>


            <section class="destacados">

             
              
            
              <% for( let index = 0; index < 4; index++ ) { %>
               
             
              <article class="cadadestacado">
                <a href="/productos/detail/<%= categorias[3].products[index].id %>"><img src="/images/merchandising/<%=categorias[3].products[index].image%> " alt=""></a>
                <div class="titulodestacado">
                  <h3><%= categorias[3].products[index].title%> </h3>
                  <P><%= categorias[3].products[index].description %></P>
                </div>

              </article>
              <% } %>
          
             
            </section>
            <section class="destacados destacados2">

              <% for( let index = 4; index < 8; index++ ) { %>
               
             
                <article class="cadadestacado">
                  <a href="/productos/detail/<%= categorias[3].products[index].id %> "><img src="/images/merchandising/<%=categorias[3].products[index].image%> " alt=""></a>
                  <div class="titulodestacado">
                    <h3><%= categorias[3].products[index].title%> </h3>
                    <P><%= categorias[3].products[index].description %></P>
                  </div>
  
                </article>
                <% } %>


            </section>
            
            <div class="verdemasproductos zoom">

              <a href="/productos/figuras">
                <h2 class="verproductos">Ver mas <%=categorias[3].name%></h2>
              </a>
            </div>



            <div class="titulogeneral">
              <h2 class="TIENDA " id="ROPA"> <%=categorias[0].name%></h2>
            </div>


            <section class="destacados">

             
              
            
              <% for( let index = 0; index < 4; index++ ) { %>
               
             
              <article class="cadadestacado">
                <a href="/productos/detail/<%= categorias[0].products[index].id %> "><img src="/images/merchandising/<%=categorias[0].products[index].image%> " alt=""></a>
                <div class="titulodestacado">
                  <h3><%= categorias[0].products[index].title%> </h3>
                  <P><%= categorias[0].products[index].description %></P>
                </div>

              </article>
              <% } %>
          
             
            </section>
            <section class="destacados destacados2">

              <% for( let index = 4; index < 8; index++ ) { %>
               
             
                <article class="cadadestacado">
                <a href="/productos/detail/<%= categorias[0].products[index].id %> "><img src="/images/merchandising/<%=categorias[0].products[index].image%> " alt=""></a>
                <div class="titulodestacado">
                  <h3><%= categorias[0].products[index].title%> </h3>
                  <P><%= categorias[0].products[index].description %></P>
                </div>

              </article>
                <% } %>


            </section>

            <div class="verdemasproductos zoom">

              <a href="/productos/ropa">
                <h2 class="verproductos">Ver mas <%=categorias[0].name%></h2>
              </a>
            </div>


            <div class="titulogeneral">
              <h2 class="TIENDA " id="COMICS"> <%=categorias[2].name%></h2>
            </div>



            <section class="destacados">

             
              
            
              <% for( let index = 0; index < 4; index++ ) { %>
               
             
              <article class="cadadestacado">
                <a href="/productos/detail/<%= categorias[2].products[index].id %> "><img src="/images/merchandising/<%=categorias[2].products[index].image%> " alt=""></a>
                <div class="titulodestacado">
                  <h3><%= categorias[2].products[index].title %> </h3>
                  <P><%= categorias[2].products[index].description %></P>
                </div>

              </article>
              <% } %>
          
             
            </section>
            <section class="destacados destacados2">

              <% for( let index = 0; index < 4; index++ ) { %>
               
             
                <article class="cadadestacado">
                <a href="/productos/detail/<%= categorias[2].products[index].id %> "><img src="/images/merchandising/<%=categorias[2].products[index].image%> " alt=""></a>
                <div class="titulodestacado">
                  <h3><%= categorias[2].products[index].title %> </h3>
                  <P><%= categorias[2].products[index].description %></P>
                </div>

              </article>
                <% } %>


            </section>

            <div class="verdemasproductos zoom">

              <a href="/productos/comics">
                <h2 class="verproductos">Ver mas <%=categorias[2].name%></h2>
              </a>
            </div>



            <div class="titulogeneral">
              <h2 class="TIENDA " id="MERCHANDISING">  <%=categorias[1].name%></h2>
            </div>



            <section class="destacados">

             
              
            
              <% for( let index = 0; index < 4; index++ ) { %>
               
             
              <article class="cadadestacado">
                <a href="/productos/detail/<%= categorias[1].products[index].id %> "><img src="/images/merchandising/<%=categorias[1].products[index].image%> " alt=""></a>
                <div class="titulodestacado">
                  <h3><%= categorias[1].products[index].title %> </h3>
                  <P><%= categorias[1].products[index].description %></P>
                </div>

              </article>
              <% } %>
          
             
            </section>
            <section class="destacados destacados2">

              <% for( let index = 4; index < 8; index++ ) { %>
               
             
                <article class="cadadestacado">
                <a href="/productos/detail/<%= categorias[1].products[index].id %> "><img src="/images/merchandising/<%=categorias[1].products[index].image%> " alt=""></a>
                <div class="titulodestacado">
                  <h3><%= categorias[1].products[index].title%> </h3>
                  <P><%= categorias[1].products[index].description %></P>
                </div>

              </article>
                <% } %>


            </section>

            <div class="verdemasproductos zoom">

              <a href="/productos/merchandising">
                <h2 class="verproductos">Ver mas  <%=categorias[1].name%></h2>
              </a>
            </div>



      </main>





      <%- include('./partials/footer') %>

        <%- include('./partials/scripts') %>



  </body>

</html>